@media (max-width: 768px) {

    .container-menu {
        background: transparent;
        position: absolute;
        margin: 0;
        left: 0;
        z-index: 9;
        width: 100px;
    }

    .responsive-menu-container {
        position: absolute;
        z-index: 999;
        background: var(--color-bg-menu);
        width: 100%;
        left: 0;
        color: var(--secondary);
        top: 4.5rem;

    }

    .icon-menu-container {
        width: 8rem;
    }

    .icon-menu-open-and-close {
        width: 2rem;
    }

    .open-menu {
        background: var(--color-bg-menu);
        height: 100vh;
    }

    .close-menu {
        height: 0vh;
        background: transparent;
    }
}