span.ripple {
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(4);
  }
}
