.bg-slide-container {
    background-color: white;
}

.slide-container {
    padding: 0 50px;
}

.slide-container p {
    font-size: var(--font-s-title);
    font-weight: 900;
    letter-spacing: -1.8px;
    text-align: center;
}