.bg-slide-container {
    background-color: white;
}

.slide-container {
    padding: 0 50px;
}

.slide-container h2 {
    font-size: var(--font-s-title);
    font-weight: 900;
    letter-spacing: -1.8px;
    text-align: center;
}

.slide-container p {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: clamp(1rem, 1.5vw, 1.75rem);
    text-align: center;
    color: var(--neutral);
    max-width: 700px;
}

@media screen and (min-width: 1024px) {
    .slide-container h2 {
        font-size: clamp(var(--font-s-title), 3.4vw, var(--font-s-title-d));
    }
}