.img-hero {
    object-fit: cover;
    position: absolute;
}

.opacity {
    background: rgba(0, 0, 0, 0.6)
        /* Green background with 30% opacity */
}

button.hero-btn {
    padding: 1.25rem 68px;
}

.container-text-header div {
    width: inherit;
}

.container-text-header div:nth-child(1) {
    margin-bottom: 7px
}

.container-text-header div:nth-child(1) p {
    font-size: var(--font-s-big-title);
    line-height: 40px;
}

.container-text-header div:nth-child(2) p {
    font-size: var(--font-s-text);
    line-height: 16px;
}

.container-text-header div:nth-child(3) input {
    font-size: var(--font-s-text);
}