.img-hero {
    object-fit: cover;
    position: absolute;
}

.opacity {
    background: rgba(0, 0, 0, 0.6)
        /* Green background with 30% opacity */
}

button.hero-btn {
    padding: 1rem 68px;
}

.container-text-header div {
    width: 100%;
}

.container-text-header div:nth-child(1) {
    margin-bottom: 7px
}

.container-text-header div:nth-child(1) h1 {
    font-size: var(--font-s-big-title);
    line-height: 40px;
}

.container-text-header div:nth-child(2) p {
    font-size: var(--font-s-text);
    line-height: 16px;
}

@media screen and (min-width: 768px) {
    .container-text-header div:nth-child(3) {
        grid-template-columns: auto 200px;
    }

    .container-text-header div:nth-child(3) button {
        padding: 1.125rem 34px;
    }
}

@media screen and (min-width: 1024px) {
    .container-text-header div:nth-child(1) h1 {
        font-size: clamp(var(--font-s-big-title), 5vw, var(--font-s-big-title-d));
        line-height: clamp(40px, 5vw, 68px);
    }

    .container-text-header div:nth-child(2) p {
        font-size: clamp(var(--font-s-text), 1.5vw, 1.25rem);
        line-height: clamp(14px, 1.5vw, 24px);
    }
}