---
import { Image } from "astro:assets"

interface Props {
  title: string;
  imgSrc: string;
  texts: string[];
  bgColor: string;
  idSection: "services" | "info" | "contact" | "";
}

const { title, imgSrc, texts, bgColor } = Astro.props;
---

<div class="w-full md:hidden" style={{ backgroundColor: bgColor }}>
  <div class="grid place-items-center w-full">
    <div class="grid bg-[--primary] w-[18rem] h-[0.625rem] rounded-t-[.2rem]">
    </div>

    <Image
      class="w-full h-[11rem] rounded-[.5rem] object-cover"
      src={imgSrc}
      alt={`image representation of ${title}`}
    />
  </div>

  <h2
    class="custom-title text-[--color-title] font-[--font-w-title] pt-[1.875rem] pb-[1.35rem]"
  >
    {title}
  </h2>

  {
    texts.map((text) => (
      <p class="custom-text font-[--font-w-text] text-[--color-text] pb-[1.20rem]">
        {text}
      </p>
    ))
  }
</div>
