---
import Layout from "../layouts/Layout.astro";
import { Header } from "@components/React/molecules";
import Hero from "@components/Hero/index.astro";
---

<Layout title="Welcome to Astro.">
  <Header client:load />
  <Hero />
  <main>Hola</main>
</Layout>
