.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;

}

.indicator {
    background-color: var(--primary);
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0 0 5px #555;
    margin: 0 0.4rem;
    cursor: pointer;
}

.indicator-inactive {
    background-color: #32323274;
}

.slide {
    display: grid;
    place-items: center;
    gap: .8rem;
    width: 100%;
    height: 100%;
    text-align: center;
}

.slide p:nth-child(2) {
    font-size: var(--font-s-subtitle);
    font-weight: 900;
}

.slide p:nth-child(3) {
    font-size: var(--font-s-text);
    line-height: 14px;
}

.slide-hidden {
    display: none;
}

.icon-white {
    stroke: white;
}

.col-span-1:nth-child(2) li {
    animation: fadeInLeft ease .5s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.item-slide-d {
    grid-template-rows: 8.75rem 2.75rem auto;
}

.icon-slide-d {
    width: 64px;
    height: 64px;
}

.item-slide-d h3 {
    font-size: clamp(var(--font-s-subtitle), 1.7vw, var(--font-s-subtitle-d));
    font-weight: var(--font-w-title);
}

.item-slide-d p {
    font-size: clamp(1rem, 1vw, 1.125rem);
}