@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Black.ttf");
}

:root {
  font-family: "Roboto", system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;

  /* font sizes Desktop*/
  --font-s-big-title: 6rem;
  --font-s-text: 1.25rem;
  --font-s-title: 4rem;
  --font-s-subtitle: 2rem;
  --font-s-footer: 1rem;

  /* fonts weight */
  --font-w-big-title: bolder;
  --font-w-text: 500;
  --font-w-title: bolder;
  --font-w-subtitle: bolder;
  --font-w-footer: 400;


  /* Colors */
  --primary: #09C7B0;
  --secondary: #FFFFFF;
  --neutral: #6B7280;
  --info: #787878;
  --accent: #646cff;

  --color-big-title: #FFFFFF;
  --color-title: #000;
  --color-text: #000;



}

html {
  font-family: "Roboto", system-ui, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}