---
import "@/styles/index.css";
//@ts-ignore
import { pwaInfo } from "virtual:pwa-info";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>{title}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- og -->
    <meta
      name="description"
      content="Aphrodite Project es una innovadora app para reservación de citas para peluquerías y gestión completa de negocios del sector de la belleza."
    />
    <meta
      name="keywords"
      content="app de peluquerías, reservación de citas, sistema de reserva de citas para peluquerías, salones de belleza, belleza, citas de belleza, gestión de salones, gestión de peluquerías, aplicación de belleza, citas de salón, belleza y cuidado personal"
    />

    <meta name="author" content="Hinkku ~ Aphrodite Project" />

    <!-- Open Graph Meta Tags -->
    <meta prefix="og: http://ogp.me/ns#" />
    <meta property="og:title" content="Aphrodite Project" />
    <meta
      property="og:description"
      content="Aphrodite Project es una innovadora app para reservación de citas para peluquerías y gestión completa de negocios del sector de la belleza."
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://hinkku-company.github.io/landing-page/"
    />
    <meta
      property="og:image"
      content="https://hinkku-company.github.io/landing-page/_astro/heroImg.8e0769a2.png"
    />

    <meta property="og:image:alt" content="Vista previa de Aphrodite Project" />
    <!-- Texto alternativo para la imagen -->
    <meta property="og:image:width" content="1200" />
    <!-- Ancho de la imagen en píxeles -->
    <meta property="og:image:height" content="630" />
    <!-- Altura de la imagen en píxeles -->
    <meta property="og:site_name" content="Aphrodite Project" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="hinkku-company.github.io" />
    <meta
      property="twitter:url"
      content="https://hinkku-company.github.io/landing-page"
    />
    <meta name="twitter:title" content="Aphrodite Project" />
    <meta
      name="twitter:description"
      content="Aphrodite Project es una innovadora app para reservación de citas en salones de belleza y gestión completa de negocios del sector de la belleza."
    />
    <meta
      name="twitter:image"
      content="https://hinkku-company.github.io/landing-page/"
    />
    <!-- URL de la misma imagen que en og:image -->
    <meta
      name="twitter:image:alt"
      content="Vista previa de Aphrodite Project"
    />

    <link rel="icon" type="image/svg+xml" href="/landing-page/favicon.svg" />
    <link
      rel="apple-touch-icon"
      href="/landing-page/favicon.svg"
      sizes="180x180"
    />
    <link
      rel="mask-icon"
      href="/landing-page/HINKKU_isotipo.svg"
      color="#FFFFFF"
    />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />

    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
  </body>
</html>
